<!DOCTYPE html>
<html lang='en'>
<html>
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Calendar{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.2/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.2/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.4.2/main.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
              crossorigin="anonymous">
        <style>
            .modal-header, h4, .close {
                background-color: #5cb85c;
                color: white !important;
                text-align: center;
                font-size: 30px;
            }

            .modal-footer {
                background-color: #f9f9f9;
            }

            option:disabled {
                color: #ff0000;
            }

            option:default {
                color: #808080;
            }

            td.fc-day.fc-past {
                background-color: #EEEEEE;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.2/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.4.2/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.2/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.4.2/main.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
                crossorigin="anonymous"></script>
        <script>

            var events = [], eventsA = [], eventsB = [], eventsC = [], busyTimes = [];
            var dayClicked = false;
            var specialist, clickedDay;
            var ip ={{ ip|json_encode|raw }};

            document.addEventListener('DOMContentLoaded', function () {
                if (document.getElementById("specialist").value === 'Wybierz specjalistę') {
                    sessionStorage.removeItem('specialist');
                } else {
                    specialist = sessionStorage.getItem("specialist");
                }

                let js_events = {{ events|json_encode|raw }};
                js_events.forEach(function (js_events) {
                    if (typeof js_events.attendees !== 'undefined') {
                        if (js_events.attendees[0].email === "danielspraktyka@gmail.com" || js_events.attendees[1].email === "danielspraktyka@gmail.com" || js_events.attendees[2].email === "danielspraktyka@gmail.com") {
                            eventsA.push({
                                title: js_events.summary,
                                start: js_events.start.dateTime,
                                end: js_events.end.dateTime,
                                color: 'orange',
                            })
                        }
                        ;
                        if (js_events.attendees[0].email === "danielspraktyka2@gmail.com" || js_events.attendees[1].email === "danielspraktyka2@gmail.com" || js_events.attendees[2].email === "danielspraktyka2@gmail.com") {
                            eventsB.push({
                                title: js_events.summary,
                                start: js_events.start.dateTime,
                                end: js_events.end.dateTime,
                                color: 'green',
                            })
                        }
                        ;
                        if (js_events.attendees[0].email === "danielspraktyka3@gmail.com" || js_events.attendees[1].email === "danielspraktyka3@gmail.com" || js_events.attendees[2].email === "danielspraktyka3@gmail.com") {
                            eventsC.push({
                                title: js_events.summary,
                                start: js_events.start.dateTime,
                                end: js_events.end.dateTime,
                                color: 'red',
                            })
                        }
                        ;
                    }

                });


                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    defaultView: 'dayGridMonth',
                    locale: 'pl',
                    height: 'auto',
                    editable: false,
                    themeSystem: 'Lux',
                    firstDay: 1,
                    fixedWeekCount: false,
                    slotDuration: '01:00',
                    slotMinTime: "10:00:00",
                    slotMaxTime: "18:00:00",
                    unselectAuto: true,
                    eventTimeFormat: { // like '14:30:00'
                        hour: '2-digit',
                        minute: '2-digit',
                        //second: '2-digit',
                        meridiem: false,
                    },
                    displayEventEnd: true,
                    businessHours: {
                        // days of week. an array of zero-based day of week integers (0=Sunday)
                        daysOfWeek: [1, 2, 3, 4, 5], // Monday - Thursday
                        startTime: '10:00', // a start time (10am in this example)
                        endTime: '18:00', // an end time (6pm in this example)
                    },
                    header: {
                        left: 'prev,next today myCustomButton Lista',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay',
                    },
                    googleCalendarApiKey: 'AIzaSyBvc5Y3UcDZvHF8Myl3PCwFi8-xQPCTSDc',
                    events: events,
                    plugins: ['interaction', 'dayGrid', 'timeGrid'], // https://fullcalendar.io/docs/plugin-index
                    selectable: true,
                    selectMirror: true,
                    dateClick: function (info) {
                        if (document.getElementById("specialist").value === 'Wybierz specjalistę') {
                            calendar.unselect()
                            alert("Najpierw wybierz specjalistę do którego chcesz się zarejestrować!")
                        } else {
                            clickedDay = info.dateStr;
                            let clickedDayDate = new Date(clickedDay);

                            if (clickedDayDate.getTime() < currDate) {
                                alert("Nie możesz wybrać przeszłej daty!")
                            } else if (clickedDayDate.getDay() == 6 || clickedDayDate.getDay() == 0) alert('Gabinet nieczynny w weekend!');

                            else {
                                events.forEach(function (events) {
                                    if (clickedDay === events.start.slice(0, 10)) {
                                        busyTimes.push(events.start.slice(11, 16));
                                    }
                                });
                                var date = new Date(calendar.getDate());
                                var hours = date.getHours();

                                for (let i = 9; i <= hours; i++) {
                                    if (clickedDayDate.getDate() == currDate) {
                                        if (hours > 8) {
                                            if (hours == 9) {
                                                busyTimes.push('10:00');
                                                break;
                                            } else {
                                                busyTimes.push(1 + i + ':00');
                                            }
                                        } else break;
                                    } else break;
                                }

                                Array.from(document.querySelector("#time").options).forEach(function (option_element) {
                                    if ($('#time option').is(':disabled')) {
                                        if ($('#time option')[0].innerHTML !== "Wybierz godzine") {
                                            $('#time option').prop('disabled', false);
                                        }
                                    }
                                });

                                busyTimes.forEach(function (busyTime) {
                                    $('#time option[value="' + busyTime + '"]').prop('disabled', true);
                                });

                                $(document).ready(function () {
                                    PlaceholdersModal();
                                    $("#myModal").modal();
                                });
                                busyTimes = [];
                            }
                        }
                    }
                });
                const currDate = calendar.getDate().getTime();
                calendar.render();
                calendar.unselect()

                document.querySelector('.form-control').addEventListener("change", changeSpecialist);

                function changeSpecialist() {
                    switch (document.getElementById("specialist").value) {
                        case "SpecjalistaA":
                            specialist = "danielspraktyka@gmail.com";
                            break;
                        case "SpecjalistaB":
                            specialist = "danielspraktyka2@gmail.com";
                            break;
                        case "SpecjalistaC":
                            specialist = "danielspraktyka3@gmail.com";
                    }
                    calendar.destroy();

                    switch (specialist) {
                        case "danielspraktyka@gmail.com":
                            events = eventsA;
                            break;
                        case "danielspraktyka2@gmail.com":
                            events = eventsB;
                            break;
                        case "danielspraktyka3@gmail.com":
                            events = eventsC;
                    }

                    calendar.removeAllEvents();
                    calendar.addEventSource(events);
                    calendar.render();
                    calendar.updateSize();
                }

                var specialistName;

                function PlaceholdersModal() {
                    if (specialist === "danielspraktyka@gmail.com") {
                        specialistName = "dr Mariusz Pudzianowski";
                    } else if (specialist === "danielspraktyka2@gmail.com") {
                        specialistName = "dr Adam Małysz";
                    } else if (specialist === "danielspraktyka3@gmail.com") {
                        specialistName = "dr Jacek Krzynówek";
                    }
                    document.getElementById("spec").value = specialistName;
                    document.getElementById("date").value = clickedDay;
                }
            });
        </script>

    {% endblock %}

</head>
<body>
{% block body %}
    <div class="form">
        <div class="form-group mb-2">
            <form id="form" method="post">

                <label for="specialist">Wybierz specjalistę aby zobaczyć dostępne terminy: </label>

                <select id="specialist" name="specialist" class="form-control">
                    <option selected="default" disabled>Wybierz specjalistę</option>
                    <option value="SpecjalistaA">dr Mariusz Pudzianowski</option>
                    <option value="SpecjalistaB">dr Adam Małysz</option>
                    <option value="SpecjalistaC">dr Jacek Krzynówek</option>
                </select>

            </form>
        </div>
    </div>

    <div id="calendar"></div>

    {# ///////////////////////       MODAL      //////////////////////////////////// #}
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-ok"></span> <b>Zarejestruj wizytę</b></h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form" method="post">
                        <div class="form-group">
                            <label for="spec"><span class="glyphicon glyphicon-user"></span> Wybrany
                                specjalista</label>
                            <input type="text" name="specialist" class="form-control" id="spec" readonly>
                        </div>
                        <div class="form-group">
                            <label for="date"><span class="glyphicon glyphicon-calendar"></span> Wybrana
                                data</label>
                            <input type="text" name="date" class="form-control" id="date" readonly>
                        </div>
                        <div class="form-group">
                            <label for="time"><span class="glyphicon glyphicon-time"></span> Wybierz godzine</label>
                            {# <input type="text" class="form-control" id="time" placeholder="Godzina"> #}
                            <select id="time" name="time" class="form-control" required>
                                <option selected="default" disabled>Wybierz godzine</option>
                                <option id="10" value="10:00">10:00-11:00</option>
                                <option id="11" value="11:00">11:00-12:00</option>
                                <option id="12" value="12:00">12:00-13:00</option>
                                <option id="13" value="13:00">13:00-14:00</option>
                                <option id="14" value="14:00">14:00-15:00</option>
                                <option id="15" value="15:00">15:00-16:00</option>
                                <option id="16" value="16:00">16:00-17:00</option>
                                <option id="17" value="17:00">17:00-18:00</option>
                            </select>
                        </div>

                        <center><h3>Dane do rejestracji</h3></center>

                        <div class="form-group">
                            <label for="spec"><span class="glyphicon glyphicon-user"></span> Imię i nazwisko</label>
                            <input type="text" name="nameSurname" class="form-control" id="spec"
                                   placeholder='Wpisz imię i nazwisko' required>
                        </div>

                        <div class="form-group">
                            <label for="spec"><span class="glyphicon glyphicon-paperclip"></span> Email</label>
                            <input type="text" name="clientemail" class="form-control" id="spec"
                                   placeholder='Wpisz email' required>
                        </div>

                        <div class="form-group">
                            <label for="spec"><span class="glyphicon glyphicon-earphone"></span> Telefon
                                kontaktowy</label>
                            <input type="tel" max="9" name="phoneNumber" class="form-control" id="spec"
                                   pattern="[0-9]{3}[0-9]{3}[0-9]{3}" placeholder='Wpisz telefon do kontaktu'
                                   required>
                        </div>
                        <center>
                            <button type="submit" name="register"
                                    style="border: 0px; height: 50px; width: 290px; right: 50px; background: url('http://static.payu.com/pl/standard/partners/buttons/payu_account_button_long_03.png'); cursor: pointer;"></button>
                        </center>
                    </form>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove"></span> Anuluj
                    </button>
                    {# <p>Not a member? <a href="#">Sign Up</a></p> #}
                    {# <p>Forgot <a href="#">Password?</a></p> #}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
</body>
</html>